elevenlabs==0.2.6
bittensor
torch
librosa
transformers
jiwer
torchaudio
pandas
matplotlib
datasets
sentencepiece
soundfile
speechbrain
tabulate
gitpython
TTS
pydub
sox
soundfile
encodec
funcy
audiolm_pytorch
torchaudio
scipy
psutil
GPUtil
laion_clap
audiocraft==1.0.0
pydantic==1.10.13
fairseq==0.11.1